<template name="ChangePassword">
    <form id="change-password">
        <label for="current-password">Current Password</label>
        <input type="text" id="current-password" name="currentPassword" placeholder="Current Password">

        <label for="new-password">New Password</label>
        <input type="text" id="new-password" name="newPassword" placeholder="New Password">

        <label for="new-password-repeated">Repeat New Password</label>
        <input type="text" id="new-password-repeated" name="newPasswordRepeated" placeholder="Repeat New Password">

        <input type="submit" value="Update Password">

    </form>
</template>