<template name="login">
  <form>
      <p>
         <h3> Login Form</h3>

      </p>
      <table>
          <tbody>
          <tr>
        <div><td class="lable"><span>Username: </span></td><td class="input"><input type="text" name="loginEmail"></td></div>
              </tr>
          <tr>
       <div> <td class="lable"><span>Password: </span></td><td class="input"><input type="password" name="loginPassword"></td></div>
              </tr>
          <tr>
        <div><input type="submit" value="Login"></div>
          </tr>
          </tbody>
      </table>
    </form>

</template>